<a href="https://colab.research.google.com/github/KILjungjoon/nlp_tools/blob/main/%ED%95%9C%EA%B8%80_%EC%9D%8C%EC%86%8C(%EC%9E%90%EB%AA%A8%EC%9D%8C)%EB%A5%BC_%EA%B1%B8%EB%9F%AC%EB%82%B4%EB%8A%94_%EC%BD%94%EB%93%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* 라이브러리 jamo를 사용

In [1]:
!pip install jamo

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting jamo
  Downloading jamo-0.4.1-py3-none-any.whl (9.5 kB)
Installing collected packages: jamo
Successfully installed jamo-0.4.1

In [3]:
import pandas as pd
from jamo import h2j, j2hcj

# 자모음 음소가 포함된 임의의 DataFrame을 만들자
df = pd.DataFrame({'headword': ['한글', 'ㄱ', '히', 'ㅢ', '기쁨', 'ㅞ', '가', '매일', 'ㄺ', '커피', '시작']})
df

   headword
0        한글
1         ㄱ
2         히
3         ㅢ
4        기쁨
5         ㅞ
6         가
7        매일
8         ㄺ
9        커피
10       시작

In [4]:
# h2j, j2hcj 메소드를 사용하여 음소 분리 후 단어의 길이가 2 이상인지 확인하는 함수 정의
def has_multiple_phonemes(word):
    return len(j2hcj(h2j(word))) >= 2

# 함수를 적용하여 자모음을 걸러내고 음절만 저장
df = df[df['headword'].apply(has_multiple_phonemes)]

# 인덱스 리셋
df.reset_index(drop=True, inplace=True)

df

  headword
0       한글
1        히
2       기쁨
3        가
4       매일
5       커피
6       시작